 body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #76b1d1;
      color: hsl(47, 9%, 21%);
    }

    header {
      background-color: #4d928a;
      color: white;
      padding: 40px ;
      text-align: center ;
    }

    main {
      max-width: 800px;
      margin: 30px auto;
      padding: 0 20px;
    }

    .post {
      background-color: white;
      padding: 40px;
      margin-bottom: 40px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .date {
      color: #777777;
      font-size: 2em;
    }

    footer {
      text-align: center;
      padding: 30px;
      background-color: #eee;
      margin-top: 70px;
    }
     
    .container{
      display: flex;
      min-height: 85vh;
    }  

    .sidebar{
      width: 20px; 
      background-color: hsl(179, 55%, 32%);
      padding: 20px;
      box-shadow: 2px 0 5px  rgba(241, 222, 158, 0)
    }
    .more-content{
      display: none;
    }

    .see-more-button{
      color: #0b5e5d;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 16px;
      padding: 0;
    }
    #suite{
      display: none;
      color: #0b5e5d;
      font-weight: normal;
    }
    
    button{
      padding: 8px 12px;
      background-color: #0b5e5d;
      border: none;
      color: white;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
    }
    button:hover {
      background-color: #0b5e5d;
    }
    .btn-retour {
      display: inline-block;
      padding: 10px 20px;
      background-color: #777777;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
    }
    .btn-retour:hover {
      background-color: #777777;
    }